- var languages=['php','node','ruby']
div
    each value,index in languages
        p=index + "." + value

-var l={'pho':-1,'node':2,'ruby':1}
div
    each value,key in l
        p=key + ": " + value

- var title="Express.js Guide"
p Read the #{title} in PDF,MOBI and EPUB