{{! 显示博客列表的主页}}
extends layout
block page
    - var menu = 'index'
block content
    if (articles.length===0)
        | There's no published content yet.
        a(href="/login") Log in
        | to post and publish.
    else
        each article,index in articles
            div
                h2
                    a(href="/articales/#{article.slug}")= article.title